<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveMatch()">
        Save
      </ion-button>
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>

<ion-content class="clear">
  <div style="margin-left: 0px; margin-right: 0px; margin-top: 5px; margin-bottom: 15px;"
    class="row d-flex align-items-center">
    <div class="col-8">
      <div style="font-size: 5vw; text-align: center;" color="primary" >{{matchtitle}}</div>
    </div>
   
    <div *ngIf="deletevisible == true" class="col-4  d-flex justify-content-end" style="padding: 5px;">
      <ion-button (click)="startMatch($event);" color="success" size="default">
        <ion-icon name="play-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteMatch();" color="danger" size="default">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-item>
    <ion-label color="primary" class="ion-label">Home Team</ion-label>
    <ion-select [(ngModel)]="selectedTeamId" placeholder="Select team" interface="popover">
      <ion-select-option *ngFor="let team of teams" value="{{team.objectId}}">
        {{team?.TeamName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label class="ion-label" color="primary">Opponent</ion-label>
    <ion-input style="text-align: right;" slot="end" placeholder="Enter opponent" [(ngModel)]="opponent"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Match Date</ion-label>
    <ion-datetime (ionChange)="newDate($event)" value="{{matchdate}}" placeholder="Select Date"></ion-datetime>
  </ion-item>
</ion-content>
