<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-label style="font-size: 14px; margin-right: 5px;">Auto Refresh</ion-label>
      <ion-toggle (ionChange)="toggleliveview($event)" slot="start" color="success"></ion-toggle>
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>

<ion-content class="clear">
  <mat-table #table [dataSource]="playbyplay">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="homescore">
      <mat-header-cell *matHeaderCellDef>Home</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.homescore}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="opponentscore">
      <mat-header-cell *matHeaderCellDef>Opponent</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.opponentscore}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.action}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
  </mat-table>

</ion-content>
