<div>
  <div class="row">
    <div class="col-6"  style="display: flex; justify-content: center;">
      <ion-label  color="primary" class="ion-label">{{data.pageValue.home}}</ion-label>
    </div>
    <div class="col-6"  style="display: flex; justify-content: center;">
      <ion-label  color="primary" class="ion-label">{{data.pageValue.away}}</ion-label>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="display: flex; justify-content: center;">
      <ion-label   color="primary" class="ion-label">{{data.pageValue.homescore}}</ion-label>
    </div>
    <div class="col-6"  style="display: flex; justify-content: center;">
      <ion-label   color="primary" class="ion-label">{{data.pageValue.awayscore}}</ion-label>
    </div>
  </div>
</div>