<div class="row" style="height: 100%;">
  <div class="col-3 biobox">
    <div class="container-fluid d-flex" style="flex-direction: column; 
      padding: 5px;">
      <div style="display: flex; justify-content: center;">
        <div style="color: white; font-size: large; font-weight: bold;">{{posNum}}
        </div>
      </div>
      <!-- <div style="display: flex; max-height: 200px; justify-content: center; ">
        <div style="display: flex; justify-content: center;">
          <button (click)="SubPlayer($event)" style="display:inline-block">
            <img style="max-width: 100%; "
              src="https://dw3jhbqsbya58.cloudfront.net/editorial/article/f/3/1/f31b2b7e-1e1e-4ac1-a0f7-75bdb1ce9ed8/cdfe4b68-38aa-e811-80c4-a9242bd1c80e_original.jpg">
          </button>
        </div>
      </div> -->
      <div style=" margin-top: 20px;" class="jersey">
        <div>
          <span [style.background-color]="isLibero() ? 'yellow': 'white'" 
            class="numberCircle">
            {{playerPosition[posNum].player.jersey}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9 d-flex" style="background-color: white; flex-direction: column; 
    justify-content: space-between;">
   <!-- PLAYER -->
   <div (click)="SubPlayer($event)" class="row playerheader">
    <div class="col-12">
      <div class="row">
        <span style="width: 100%; font-size: medium; color: yellow; padding-left: 5px;">
          {{playerPosition[posNum].player.FirstName}}
        </span>
      </div>
    </div>
  </div>
    <!-- HITTING -->
    <div style="margin-bottom: 3px;" class="row">
      <div class="col-12">
        <div class="row actionheader">
          <span>HITTING</span>
        </div>
        <div class="row">
          <div class="col-4" style="padding-left: 5px; padding-right: 5px;">
            <button (click)="DoStat('k')"  type="button"
              class="btn tapbutton point">KILL</button>
          </div>
          <div class="col-4" style="padding-left: 5px; padding-right: 5px;">
            <button (click)="DoStat('h')"  type="button"
              class="btn tapbutton neutral">ATT</button>
          </div>
         <div class="col-4" style="padding-left: 5px; padding-right: 5px;">
            <button (click)="DoStat('he')" type="button"
              class="btn tapbutton error">ERR</button>
          </div>
        </div>
      </div>
    </div>
    <!-- PASSING -->
    <div style="margin-bottom: 3px;" class="row">
      <div class="col-12">
        <div class="row actionheader">
          <span>PASSING</span>
        </div>
        <div class="row">
          <!-- <div style="padding-left: 5px; padding-right: 5px; width: 20%;">
            <button (click)="DoStat('pa0')" style=" width: 100%;" type="button"
              class="btn tapbutton zero">0</button>
          </div> -->
          <div class="col-3" style="padding-left: 5px; padding-right: 0px;">
            <button (click)="DoStat('sre')" style="width: 100%;" type="button" 
            class="btn tapbutton error">SRE</button>
          </div>
          <div class="col-3" style="padding-left: 5px; padding-right: 5px;">
            <button (click)="DoStat('pa1')" style=" width: 100%;" type="button"
              class="btn tapbutton one">1</button>
          </div>
          <div class="col-3" style="padding-left: 5px; padding-right: 5px;">
            <button (click)="DoStat('pa2')" style=" width: 100%;" type="button"
              class="btn tapbutton two">2</button>
          </div>
          <div class="col-3" style="padding-left: 5px; padding-right: 5px;">
            <button (click)="DoStat('pa3')" style=" width: 100%;" type="button"
              class="btn tapbutton three">3</button>
          </div>
          <!-- <div style="padding-left: 5px; padding-right: 5px; width: 20%;">
            <button (click)="DoStat('pa4')" style=" width: 100%;" type="button"
              class="btn tapbutton four">4</button>
          </div> -->
        </div>
      </div>
    </div>
    <!-- BLOCKING -->
    <div *ngIf="isFrontRow()" style="margin-bottom: 3px;" class="row">
      <div class="col-12">
        <div class="row actionheader">
          <span>BLOCKING</span>
        </div>
        <div class="row">
          <div class="col-3" style="padding: 2px;">
            <button (click)="DoStat('b')"
              style="width: 100%; padding-left: 0px; padding-right: 0px;"
              type="button" class="btn tapbutton point">BLK</button>
          </div>
          <div class="col-3" style="padding: 2px;">
            <button (click)="DoStat('bt')"
              style="width: 100%;padding-left: 0px; padding-right: 0px;"
              type="button" class="btn tapbutton neutral">BLT</button>
          </div>
         
          <div class="col-3" style="padding: 2px;">
            <button (click)="DoStat('bst')"
              style="width: 100%; padding-left: 0px; padding-right: 0px;"
              type="button" class="btn tapbutton neutral">BST</button>
          </div>
          <div class="col-3" style="padding: 2px;">
            <button (click)="DoStat('be')"
              style="width: 100%; padding-left: 0px; padding-right: 0px;"
              type="button" class="btn tapbutton error">ERR</button>
          </div>
        </div>
      </div>
    </div>
    <!-- SETTING -->
    <div style="margin-bottom: 3px;" class="row">
      <div class="col-12">
        <div class="row actionheader">
          <span>SETTING</span>
        </div>
        <div class="row">
          <div class="col-4" style="padding-left: 5px; padding-right: 5px;">
            <button (click)="DoStat('sat')" type="button"
              class="btn tapbutton neutral">ATT</button>
          </div>
          <div class="col-4" style="padding-left: 5px; padding-right: 5px;">
            <button (click)="DoStat('a')"  type="button"
              class="btn tapbutton  neutral">AST</button>
          </div>
          <div class="col-4" style="padding-left: 5px; padding-right: 5px;">
            <button (click)="DoStat('bhe')" style="width: 100%;" type="button"
              class="btn tapbutton error">BHE</button>
          </div>
        </div>
      </div>
    </div>
    <!-- DEFENSE -->
    <div style="margin-bottom: 3px;" class="row">
      <div class="col-12">
        <div class="row actionheader">
          <span>DEFENSE</span>
        </div>
        <div class="row">
          <!-- <div class="col-3" style="padding: 1px;">
            <button (click)="DoStat('sr')" style="width: 100%; padding-left: 0px; padding-right: 0px;
            " type="button"
              class="btn tapbutton neutral">SRC</button>
          </div> -->
         
          <div class="col-12" style="padding: 1px;">
            <button (click)="DoStat('d')" style="width: 100%; padding-left: 0px; padding-right: 0px;
            " type="button"
              class="btn tapbutton neutral">DIG</button>
          </div>
          <!-- <div class="col-3" style="padding: 1px;">
            <button (click)="DoStat('bhe')" style="width: 100%; padding-left: 0px; padding-right: 0px;
            " type="button"
              class="btn tapbutton error">BHE</button>
          </div> -->
        </div>
      </div>
    </div>
      <!-- SERVING -->
      <div *ngIf="posNum=='1'" style="margin-bottom: 3px;" class="row">
        <div class="col-12">
          <div class="row actionheader">
            <span>SERVING</span>
          </div>
          <div class="row">
            <div class="col-6" style="padding-left: 5px; padding-right: 5px;">
              <button (click)="DoStat('sa')"  type="button"
                class="btn tapbutton point">ACE</button>
            </div>
            <!-- <div class="col-4" style="padding-left: 5px; padding-right: 5px;">
              <button (click)="DoStat('serve')"  type="button"
                class="btn tapbutton neutral">ATT</button>
            </div> -->
           
            <div class="col-6" style="padding-left: 5px; padding-right: 5px;">
              <button (click)="DoStat('se')"  type="button"
                class="btn tapbutton error">ERR</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>