<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Team</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveTeam(tdForm.value)">
        Save
      </ion-button>
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>

<ion-content style="display: flex; flex-flow:column; height: 100%;">
  <ion-item lines="none">
    <ion-title style="padding-left: 0px"  slot="start" >{{selectedteamname}}</ion-title>
    <ion-button *ngIf="deletevisible == true" (click)="deleteTeam();" color="danger" slot="end" >
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
    <ion-item>
      <ion-label class="ion-label" position="floating">Team Name</ion-label>
      <ion-input placeholder="Enter team name" [(ngModel)]="selectedteamname"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label class="ion-label">Club</ion-label>
    <ion-select [(ngModel)]="selectedclub" placeholder="Select club" interface="popover">
      <ion-select-option *ngFor="let club of clubs" value="{{club.objectId}}">
        {{club.ClubName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label class="ion-label">Year</ion-label>
    <ion-select [(ngModel)]="selectedyear" placeholder="Select club year"  interface="popover">
      <ion-select-option *ngFor="let year of teamYears" [value]="year">
        {{year}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list-header *ngIf="playersvisable === true">
    <ion-toolbar>
      <ion-label class="ion-label" style="font-weight: bold;">Players</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="addPlayers()">
          Add
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-list-header>
  <ion-item *ngIf="playersvisable === true">
    <p-table dataKey="objectId" (onEditComplete)="onEditComplete($event)" (onRowSelect)="onTeamPlayerSelect($event)"
      [value]="teamPlayers" selectionMode="single" [(selection)]="selectedPlayer">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-teamPlayer>
        <tr [pSelectableRow]="teamPlayer">
          <td pEditableColumn pEditableColumn="{{ teamPlayer.objectId }}"
            pEditableColumnField="{{ teamPlayer.jersey }}">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input style="color: black;" pInputText type="text" [(ngModel)]="teamPlayer.jersey">
              </ng-template>
              <ng-template pTemplate="output">
                {{ teamPlayer?.jersey }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>{{ teamPlayer.FirstName }}</td>
          <td>{{ teamPlayer.LastName  }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ion-item>
</ion-content>