<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Team</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="display: flex; flex-flow:column; height: 100%;">
  <ion-item >
    <ion-label class="ion-label" position="floating">Team Name</ion-label>
    <ion-input placeholder="Enter team name" value={{selectedTeam?.TeamName}}></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="ion-label">Club</ion-label>
    <ion-select (ionChange)="pickClub($event)" interface="popover" [(ngModel)]="selectedclub" [compareWith]="compareFn">
      <ion-select-option *ngFor="let club of clubs" [value]="club">
        {{club.ClubName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label class="ion-label">Year</ion-label>
    <ion-select (ionChange)="pickYear($event)" interface="popover" [value]="selectedTeam?.Year"
      [compareWith]="compareFn">
      <ion-select-option *ngFor="let year of teamYears" [value]="year">
        {{year}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list-header *ngIf="playersvisable === true">
    <ion-toolbar>
      <ion-label class="ion-label" style="font-weight: bold;">Players</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="save()">
          Add
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-list-header>
  <ion-item   *ngIf="playersvisable === true">
    <p-table  dataKey="objectId" (onEditComplete)="onEditComplete($event)" (onRowSelect)="onTeamPlayerSelect($event)"
       [value]="teamPlayers" selectionMode="single"
      [(selection)]="selectedTeamPlayer">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-teamPlayer>
        <tr [pSelectableRow]="teamPlayer">
          <td pEditableColumn pEditableColumn="{{ teamPlayer.objectId }}" pEditableColumnField="{{ teamPlayer.jersey }}">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input style="color: black;" pInputText type="text" [(ngModel)]="teamPlayer.jersey">
              </ng-template>
              <ng-template pTemplate="output">
                {{ teamPlayer?.jersey }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>{{ teamPlayer.FirstName }}</td>
          <td>{{ teamPlayer.LastName  }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ion-item>
</ion-content>