<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Team</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveTeam(tdForm.value)">
        Save
      </ion-button>
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>

<ion-content style="display: flex; flex-flow:column; height: 100%;">
  <ion-item lines="none">
    <ion-title style="padding-left: 0px" slot="start">{{selectedteamname}}</ion-title>
    <ion-button *ngIf="deletevisible == true" (click)="deleteTeam();" color="danger" slot="end">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label class="ion-label" position="floating">Team Name</ion-label>
    <ion-input placeholder="Enter team name" [(ngModel)]="selectedteamname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="ion-label">Club</ion-label>
    <ion-select [(ngModel)]="selectedclub" placeholder="Select club" interface="popover">
      <ion-select-option *ngFor="let club of clubs" value="{{club.objectId}}">
        {{club.ClubName}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label class="ion-label">Year</ion-label>
    <ion-select [(ngModel)]="selectedyear" placeholder="Select club year" interface="popover">
      <ion-select-option *ngFor="let year of teamYears" [value]="year">
        {{year}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list-header *ngIf="playersvisable === true">
    <ion-toolbar>
      <ion-label class="ion-label" style="font-weight: bold;">Players</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="addPlayers()">
          Add
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-list-header>
  <ion-item *ngIf="playersvisable === true">
    <ion-list style="width: 100%;">
      <ion-item-sliding  *ngFor="let item of teamPlayers">
        <ion-item (click)="showPlayer(item)">
          <ion-grid>
            <ion-row>
              <ion-col>{{item?.FirstName}} {{item?.LastName}}</ion-col>
              <ion-col class="ion-text-end">{{item?.jersey}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <ion-button color="danger" (click)="removeItem(item)">
            <ion-icon name="person-remove-outline"></ion-icon>
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

  </ion-item>
</ion-content>

<p-dialog (onHide)="close()" header="Edit Player" [(visible)]="displayPlayer">
  <ion-item *ngIf="selectedPlayer">
    <ion-label>Jersey:</ion-label>
    <ion-input slot="end" [(ngModel)]="selectedPlayer.jersey" placeholder="Number" type="number"></ion-input>
  </ion-item>
</p-dialog>