<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>Game</ion-title>
    <ion-button style="margin-right: 5px;" color="danger" (click)="dismiss()" slot="end">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


  <ion-list>
    <ion-item (click)="startGame($event)">
      1
    </ion-item>
    <ion-item (click)="startGame($event)">
      2
    </ion-item>
    <ion-item (click)="startGame($event)">
      3
    </ion-item>
    <ion-item (click)="startGame($event)">
      4
    </ion-item>
    <ion-item (click)="startGame($event)">
      5
    </ion-item>
  </ion-list>
