<ion-header >
  <ion-toolbar color="primary">
    <ion-title mode="md">Players</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addPlayer()" >
        Add
      </ion-button>
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>
<ion-content class="clear">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <mat-table  matSort  [dataSource]="datasource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="FirstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First</mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player?.FirstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="LastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last</mat-header-cell>
      <mat-cell *matCellDef="let player"> {{player?.LastName}} </mat-cell>
    </ng-container>

   
    <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
    <mat-row (click)="showPlayer(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- <ion-list style="width: 100%; margin-top: 10px;">
    <ion-item-sliding  *ngFor="let item of players">
      <ion-item (click)="showPlayer(item)">
        <ion-grid>
          <ion-row>
            <ion-col>{{item?.FirstName}} {{item?.LastName}}</ion-col>
            <ion-col class="ion-text-end">{{item?.jersey}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options>
        <ion-button color="danger" (click)="removeItem(item)">
          <ion-icon name="person-remove-outline"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list> -->
</ion-content>
