hr {
    height: 2px;
    border-width: 2px;
    box-sizing: content-box;
    //border-top: 1px solid darkgray;
}

ion-select {
    max-width: 100%;
    width: 100%;
}

:host ::ng-deep .dark-panel.p-panel {
    .p-panel-titlebar {
        background: #212121;
    }
}

:host ::ng-deep .p-inputtext {
    font-size: 14px;
}

:host ::ng-deep .p-component {
    font-size: 14px;
}

.ui-dropdown    {
    max-height:100% !important;
  }

  .header{
    font-weight: bold
  }