<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fusion 07 - Ballyhoo 11</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>
<ion-content>
  <div style="display: flex; flex-flow: column; height: 100%;">

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-button id="1" style="display: flex; flex-grow: 1;" (click)=showPopover($event) >{{playerPos1}}</ion-button>
          <!-- <ion-button style="display: flex; " (click)=showPopover($event)>
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">

            </ion-icon>
          </ion-button> -->
          <!-- <ion-select (ionChange)="pickUser($event)" interface="popover" [value]="user" [compareWith]="compareFn">
            <ion-select-option *ngFor="let user of users" [value]="user">
              {{user.first}}
            </ion-select-option>
          </ion-select> -->
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-button id="2"  style="display: flex; flex-grow: 1;" (click)=showPopover($event) >{{playerPos2}}</ion-button>
          <!-- <ion-button style="display: flex; " (click)=showPopover($event)>
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">

            </ion-icon>
          </ion-button> -->
          <!-- <ion-select (ionChange)="pickUser($event)" interface="popover" [value]="user" [compareWith]="compareFn">
            <ion-select-option *ngFor="let user of users" [value]="user">
              {{user.first}}
            </ion-select-option>
          </ion-select> -->
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-button  id="3"  style="display: flex; flex-grow: 1;" (click)=showPopover($event) >{{playerPos3}}</ion-button>
          <!-- <ion-button style="display: flex; " (click)=showPopover($event)>
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">

            </ion-icon>
          </ion-button> -->
          <!-- <ion-select (ionChange)="pickUser($event)" interface="popover" [value]="user" [compareWith]="compareFn">
            <ion-select-option *ngFor="let user of users" [value]="user">
              {{user.first}}
            </ion-select-option>
          </ion-select> -->
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-button id="4"  style="display: flex; flex-grow: 1;" (click)=showPopover($event) >{{playerPos4}}</ion-button>
          <!-- <ion-button style="display: flex; " (click)=showPopover($event)>
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">

            </ion-icon>
          </ion-button> -->
          <!-- <ion-select (ionChange)="pickUser($event)" interface="popover" [value]="user" [compareWith]="compareFn">
            <ion-select-option *ngFor="let user of users" [value]="user">
              {{user.first}}
            </ion-select-option>
          </ion-select> -->
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>


    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-button  id="5" style="display: flex; flex-grow: 1;" (click)=showPopover($event) >{{playerPos5}}</ion-button>
          <!-- <ion-button style="display: flex; " (click)=showPopover($event)>
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">

            </ion-icon>
          </ion-button> -->
          <!-- <ion-select (ionChange)="pickUser($event)" interface="popover" [value]="user" [compareWith]="compareFn">
            <ion-select-option *ngFor="let user of users" [value]="user">
              {{user.first}}
            </ion-select-option>
          </ion-select> -->
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-button id="6"  style="display: flex; flex-grow: 1;" (click)=showPopover($event) >{{playerPos6}}</ion-button>
          <!-- <ion-button style="display: flex; " (click)=showPopover($event)>
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">

            </ion-icon>
          </ion-button> -->
          <!-- <ion-select (ionChange)="pickUser($event)" interface="popover" [value]="user" [compareWith]="compareFn">
            <ion-select-option *ngFor="let user of users" [value]="user">
              {{user.first}}
            </ion-select-option>
          </ion-select> -->
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>


    

  </div>
</ion-content>