ion-button {
    height: 100%;
    padding:3px;
    margin: 0px;
}

.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}

::ng-deep .mat-form-field-infix {
    padding: 0px !important;
    border: 0px
}

::ng-deep .mat-select-value {
    color: rgba(0,0,0,.87);
    font-size: .8em  !important;
    padding-left: 5px !important;
}

.mat-form-field-infix {
    padding: 0px !important;
    border: 0px
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
}

ion-select {
    padding:5px;
    font-size: .7em;
}

.select-text {
    font-size: .8em;
}    

.outer{
    // background-color:blue;
    height: 100%; 
    display: table;
    width:100%
}
.inner-title{
    // background-color:red;
    display:table-row; 
    width:100%;
    height: 25%;
}
.inner-content{
    // background-color:grey;
    display:table-row;
    width:100%;
     height:100%
}
.customDialog {
    background: green;
}

.ui-dialog.customDialog .ui-dialog-content {
    padding: 0;
    margin: 20px 10px;
}
.ui-dialog-titlebar.ui-widget-header.customDialog {
    background: green;
    color: black;
    box-shadow: none;
}


