<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="md">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showscoreboard($event)">
        <ion-icon name="keypad-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="rotate()">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="showscoreboard($event)">
        <ion-icon name="play-outline"></ion-icon>
      </ion-button> -->
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>

<ion-content class="match" >

  <div style="display: flex; flex-flow: column; height: 100%;">

    <div style="border-bottom: 4px dotted white; display: flex; flex-grow: 1; height: 100%;">

      <div class="outer">
        <div class="inner-title" style="height: 35%;">
            <ion-button slot="start" color="warning" id="1" style="display: flex; flex-grow: 1; height: 100%;" (click)=showPopover($event) >
              <ion-label style="display: flex; flex-grow: 1;" slot="start"> {{playerPositions[1].playerPos}}</ion-label>
              <ion-label slot="end">Pos 1</ion-label>
            </ion-button>
        </div>
        <div class="inner-content" style="height: 65%;">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 1)" color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 1)"  color="primary" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 1)"  color="danger" expand="block">HE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 1)"  color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 1)"  color="danger" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 1)"  color="success" expand="block">D</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 1)"  color="success" expand="block">SA</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 1)"  color="danger" expand="block">SE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postSR($event, 1)"  color="primary" expand="block">SR</ion-button>
            </div>
          </div>
        </div>
      </div> 


    </div>

    <div style="border-bottom: 4px dotted white; display: flex; flex-grow: 1; height: 100%;">

      <div class="outer">
        <div class="inner-title">
          <ion-button  id="2" slot="start" color="warning" style="display: flex; flex-grow: 1;" (click)=showPopover($event) >
            <ion-label style="display: flex; flex-grow: 1;" slot="start"> {{playerPositions[2].playerPos}}</ion-label>
            <ion-label slot="end">Pos 2</ion-label>
          </ion-button>

        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 2)"  color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 2)"   color="primary" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 2)"   color="danger" expand="block">HE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 2)"   color="success" expand="block">B</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 2)"   color="primary" expand="block">BT</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 2)"   color="danger" expand="block">BE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 2)"   color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 2)"   color="success" expand="block">D</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 2)"   color="danger" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postSR($event, 2)"  color="primary" expand="block">SR</ion-button>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div style="border-bottom: 4px dotted white; display: flex; flex-grow: 1; height: 100%;">

      <div class="outer">
        <div class="inner-title">
          <ion-button  id="3" slot="start" color="warning"  style="display: flex; flex-grow: 1;" (click)=showPopover($event) >
            <ion-label style="display: flex; flex-grow: 1;" slot="start"> {{playerPositions[3].playerPos}}</ion-label>
            <ion-label slot="end">Pos 3</ion-label>
          </ion-button>

        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 3)"  color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 3)"   color="primary" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 3)"   color="danger" expand="block">HE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 3)"   color="success" expand="block">B</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 3)"   (click)="postStat($event, 2)"   color="primary" expand="block">BT</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 3)"   color="danger" expand="block">BE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 3)"   color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 3)"   color="success" expand="block">D</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 3)"   color="danger" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postSR($event, 3)"  color="primary" expand="block">SR</ion-button>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div style="border-bottom: 4px dotted white; display: flex; flex-grow: 1; height: 100%;">

      <div class="outer">
        <div class="inner-title">
          <ion-button  id="4" slot="start" color="warning" style="display: flex; flex-grow: 1;" (click)=showPopover($event) >
            <ion-label style="display: flex; flex-grow: 1;" slot="start"> {{playerPositions[4].playerPos}}</ion-label>
            <ion-label slot="end">Pos 4</ion-label>
          </ion-button>

        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 4)"  color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 4)"   color="primary" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 4)"   color="danger" expand="block">HE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 4)"   color="success" expand="block">B</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 4)"   (click)="postStat($event, 2)"   color="primary" expand="block">BT</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 4)"   color="danger" expand="block">BE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 4)"   color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 4)"   color="success" expand="block">D</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 4)"   color="danger" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postSR($event, 4)"  color="primary" expand="block">SR</ion-button>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div style="border-bottom: 4px dotted white; display: flex; flex-grow: 1; height: 100%;">

      <div class="outer">
        <div class="inner-title">
          <ion-button  id="5" slot="start" color="warning" style="display: flex; flex-grow: 1;" (click)=showPopover($event) >
            <ion-label style="display: flex; flex-grow: 1;" slot="start"> {{playerPositions[5].playerPos}}</ion-label>
            <ion-label slot="end">Pos 5</ion-label>
          </ion-button>
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 5)" color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 5)" color="primary" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 5)" color="danger" expand="block">HE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 5)" color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 5)" color="success" expand="block">D</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 5)" color="danger" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postSR($event, 5)" color="primary" expand="block">SR</ion-button>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div style="border-bottom: 4px dotted white; display: flex; flex-grow: 1; height: 100%;">

      <div class="outer">
        <div class="inner-title">
          <ion-button  id="6" slot="start" color="warning" style="display: flex; flex-grow: 1;" (click)=showPopover($event) >
            <ion-label style="display: flex; flex-grow: 1;" slot="start"> {{playerPositions[6].playerPos}}</ion-label>
            <ion-label slot="end">Pos 6</ion-label>
          </ion-button>

        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 6)" color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 6)" color="primary" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 6)" color="danger" expand="block">HE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 6)" color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 6)" color="success" expand="block">D</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postStat($event, 6)" color="danger" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button (click)="postSR($event, 6)" color="primary" expand="block">SR</ion-button>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</ion-content>