<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fusion 07 - Ballyhoo 11</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; flex-flow: column; height: 100%;">

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-select interface="popover" placeholder="Select player" >
            <ion-select-option value="madison">Madison, WI</ion-select-option>
            <ion-select-option value="austin">Austin, TX</ion-select-option>
            <ion-select-option value="chicago">Chicago, IL</ion-select-option>
            <ion-select-option value="seattle">Seattle, WA</ion-select-option>
          </ion-select>
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-select interface="popover" placeholder="Select player" >
            <ion-select-option value="madison">Madison, WI</ion-select-option>
            <ion-select-option value="austin">Austin, TX</ion-select-option>
            <ion-select-option value="chicago">Chicago, IL</ion-select-option>
            <ion-select-option value="seattle">Seattle, WA</ion-select-option>
          </ion-select>
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-select interface="popover" placeholder="Select player" >
            <ion-select-option value="madison">Madison, WI</ion-select-option>
            <ion-select-option value="austin">Austin, TX</ion-select-option>
            <ion-select-option value="chicago">Chicago, IL</ion-select-option>
            <ion-select-option value="seattle">Seattle, WA</ion-select-option>
          </ion-select>
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-select interface="popover" placeholder="Select player" >
            <ion-select-option value="madison">Madison, WI</ion-select-option>
            <ion-select-option value="austin">Austin, TX</ion-select-option>
            <ion-select-option value="chicago">Chicago, IL</ion-select-option>
            <ion-select-option value="seattle">Seattle, WA</ion-select-option>
          </ion-select>
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>


    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-select interface="popover" placeholder="Select player" >
            <ion-select-option value="madison">Madison, WI</ion-select-option>
            <ion-select-option value="austin">Austin, TX</ion-select-option>
            <ion-select-option value="chicago">Chicago, IL</ion-select-option>
            <ion-select-option value="seattle">Seattle, WA</ion-select-option>
          </ion-select>
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <div style="display: flex; flex-grow: 1;">

      <div class="outer">
        <div class="inner-title">
          <ion-select interface="popover" placeholder="Select player" >
            <ion-select-option value="madison">Madison, WI</ion-select-option>
            <ion-select-option value="austin">Austin, TX</ion-select-option>
            <ion-select-option value="chicago">Chicago, IL</ion-select-option>
            <ion-select-option value="seattle">Seattle, WA</ion-select-option>
          </ion-select>
        </div>
        <div class="inner-content">
          <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; height: 100%;">
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">A</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">AS</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">H</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">K</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="dark" expand="block">BE</ion-button>
            </div>
            <div cstyle="flex-grow: 1;">
              <ion-button color="danger" expand="block">S</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="medium" expand="block">BHE</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="success" expand="block">SR</ion-button>
            </div>
            <div style="flex-grow: 1;">
              <ion-button color="tertiary" expand="block">BT</ion-button>
            </div>

          </div>
        </div>
      </div>


    </div>


    

  </div>
</ion-content>