<ion-header >
  <ion-toolbar color="primary">
    <ion-title mode="md">Matches</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addMatch()" >
        Add
      </ion-button>
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <mat-form-field style="margin-right: 10px; margin-left: 10px;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field>

  <mat-table  matSort (matSortChange)="sortData($event)" [dataSource]="datasource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Home">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Home</mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.Home}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Opponent">
      <mat-header-cell *matHeaderCellDef> Opponent </mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.Opponent}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="MatchDate">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let match"> {{match.MatchDate}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row (click)="onRowSelect(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <!-- <p-table [value]="matches" selectionMode="single" [(selection)]="selectedMatch"
  (onRowSelect)="onRowSelect($event)" >
  <ng-template pTemplate="header">
    <tr>
      <th>Home</th>
      <th>Opponent</th>
      <th>Match Date</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-match>
    <tr [pSelectableRow]="match">
      <td>{{ match.Home }}</td>
      <td>{{ match.Opponent }}</td>
      <td>{{ match.MatchDate }}</td>
    </tr>
  </ng-template>
  
</p-table> -->
</ion-content>
