<ion-header  translucent>
  <ion-toolbar color="primary">
    <ion-title>Select Players</ion-title>
    <ion-button style="margin-right: 5px;" color="danger" (click)="dismissModal()" slot="end">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content >
  <p-listbox [options]="players" 
    [(ngModel)]="selectedPlayers" [multiple]="true" 
    [checkbox]="true" optionLabel="fullName">
    <p-header>
      Players
    </p-header>
  </p-listbox>

    <!-- <ion-list>
      <ion-item *ngFor="let player of selectedPlayers" (click)="dismiss(item)">
        <ion-label>{{player.FirstName}}</ion-label> 
      </ion-item>
    </ion-list> -->
</ion-content>
