<ion-header>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content class="clear" fullscreen>
  <div style="display: flex; justify-content: center; width: 100%; ">
      <div style="display: flex; justify-content: center; width: 100%;">
        <mat-label style="color:#3880ff; font-family: 'sarina'; font-size: 2.5em;">Courtside</mat-label>
      </div>
  </div>
  <div style="display: flex; justify-content: center; width: 100%; margin-bottom: 20px; ">
    <div style="display: flex; justify-content: center; width: 100%;">
      <mat-label style="color: #3880ff; font-family: 'sarina'; font-size: 1.25em;">Communicator</mat-label>
    </div>
  </div>

  <!-- <div style="margin-top:s 5px;" class="login-logo">
    <img style="height: 25vh;" src="assets/img/appicon.svg">
  </div> -->

  <div style="display: flex; flex-direction: column; align-items: center;" class="login-logo">

    <!-- <form style="padding: 15px; background-color: white;"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-list style="height: 100%; margin-bottom: 20px;">
        <ion-item>
          <ion-label position="fixed" color="primary">Username:</ion-label>
          <ion-input style="border: 0px;" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"></ion-input>
        </ion-item>
        <ion-label style="margin-bottom: 0px; font-size: xx-small;" *ngIf="submitted && f.username.errors"
          color="danger">Username is required</ion-label>


        <ion-item>
          <ion-label position="fixed" color="primary">Password:</ion-label>
          <ion-input style="border: 0px;" type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
        </ion-item>
        <ion-label style="margin-bottom: 0px; font-size: xx-small;" *ngIf="submitted && f.password.errors"
          color="danger">Password is required</ion-label>

      </ion-list>
      <button style="width: 80%;" class="btn btn-primary" type="submit" >Login</button>
    </form> -->


    <div id="pin">
      <div class="dots">
        <div [ngClass]="renderDotClass(0)"></div>
        <div [ngClass]="renderDotClass(1)"></div>
        <div [ngClass]="renderDotClass(2)"></div>
        <div [ngClass]="renderDotClass(3)"></div>
      </div>
      <!-- <p style="color: #3880ff;">Enter the password</p> -->
      <div class="numbers">
        <div class="row" style="width: 100%;">
          <div (click)="change($event)" class="number col" [ngClass]="{'animated-button': animated[0]}">1</div>
          <div (click)="change($event)" class="number col" [ngClass]="{'animated-button': animated[1]}">2</div>
          <div (click)="change($event)" class="number col" [ngClass]="{'animated-button': animated[2]}">3</div>
        </div>
        <div class="row" style="width: 100%;">
          <div (click)="change($event)" class="number col" [ngClass]="{'animated-button': animated[3]}">4</div>
          <div (click)="change($event)" class="number col" [ngClass]="{'animated-button': animated[4]}">5</div>
          <div (click)="change($event)" class="number col" [ngClass]="{'animated-button': animated[5]}">6</div>
        </div>
        <div class="row" style="width: 100%;">
          <div (click)="change($event)" class="number col" [ngClass]="{'animated-button': animated[6]}">7</div>
          <div (click)="change($event)" class="number col" [ngClass]="{'animated-button': animated[7]}">8</div>
          <div (click)="change($event)" class="number col" [ngClass]="{'animated-button': animated[8]}">9</div>
        </div>  
      </div>
    </div>

  </div>

</ion-content>