<ion-header>
  <ion-toolbar mode="md" color="primary" >
    <ion-buttons slot="start">
      <ion-back-button id='backbutton'></ion-back-button>
    </ion-buttons>
    <ion-title mode="md">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="rotate()">
        <ion-icon name="swap-horizontal-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>

<ion-content class="no-scroll clear">
  <div style="height:100%;  max-width: 100%; margin: 0 auto;">

    <!-- HEADER -->
    <div style="height:10%; margin: 2px; background-color: whitesmoke; max-width: 100%;"
      class="row justify-content-center">

      <!-- Opponent Scorebox -->
      <div style="justify-content: flex-end;" class="score-box-container col">
        <div style="align-self: center;" class="subs col-2 ">
          <div class="scorebtn">
            <button class="greenarrow" (click)="teampoint($event)" id="vinc" ion-button icon-only clear>
              <ion-icon name="caret-up-outline"></ion-icon>
            </button>
            <!-- <ion-icon name="caret-up-outline"></ion-icon> -->
          </div>
          <div  class="scorebtn">
            <button class="redarrow" (click)="teampoint($event)" id="vdec" ion-button icon-only clear>
              <ion-icon name="caret-down-outline"></ion-icon>
            </button>
          </div>
        </div>
        <div class="score-box col-10">
          <div class="score-box-teamname-away"><span>{{match?.Opponent}}</span></div>
          <div class="score-box-number">
            <span class="score">{{game?.OpponentScore}}</span>
          </div>
        </div>
      </div>
      <!-- Subs -->
      <div style="align-self: center; " class="subs col-2 ">
        <div class="subs-name">SUBS</div>
        <div class="score">{{game?.Subs}}</div>
      </div>
      <!-- Home Scorebox -->
      <div style="justify-content: flex-start;" class="score-box-container col">
        <div class="score-box col-10">
          <div class="score-box-teamname-home">{{match?.Home}}</div>
          <div class="score-box-number"><span class="score">{{game?.HomeScore}}</span></div>
        </div>
        <div style="align-self: center;" class="subs col-2 ">
          <div class="scorebtn">
            <button class="greenarrow" (click)="teampoint($event)" id="homeinc" ion-button icon-only clear>
              <ion-icon name="caret-up-outline"></ion-icon>
            </button>
            <!-- <ion-icon name="caret-up-outline"></ion-icon> -->
          </div>
          <div  class="scorebtn">
            <button class="redarrow" (click)="teampoint($event)" id="homedec" style="padding: 0px; background-color: red;" ion-button icon-only clear>
              <ion-icon name="caret-down-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>

    </div>

    <!-- PLAYERS -->
    <div class="row scorearea">
      <!-- FIRST ROW -->
      <div style="max-width: 100%; width: 100%; height: 49%; align-items: center;" class=" row">
        <div class="col-sm playerbox">
          <player libero={{libero}} (subPost)="subPlayer(4)" (statPost)="postStat($event,4)" posNum=4 
          [playerPosition]="playerPositions"></player>
        </div>
        <div class="col-sm playerbox">
          <player libero={{libero}} (subPost)="subPlayer(3)" (statPost)="postStat($event,3)" posNum=3 
          [playerPosition]="playerPositions"></player>
        </div>
        <div class="col-sm playerbox">
          <player libero={{libero}} (subPost)="subPlayer(2)" (statPost)="postStat($event,2)" posNum=2 
          [playerPosition]="playerPositions"></player>
        </div>
      </div>

      <!-- SECOND ROW -->
      <div style="max-width: 100%; width: 100%; height: 49%; align-items: center;" class=" row">
        <div class="col-sm playerbox">
          <player libero={{libero}} (subPost)="subPlayer(5)" (statPost)="postStat($event,5)" posNum=5 
          [playerPosition]="playerPositions"></player>
        </div>
        <div class="col-sm playerbox">
          <player libero={{libero}} (subPost)="subPlayer(6)" (statPost)="postStat($event,6)" posNum=6 
          [playerPosition]="playerPositions"></player>
        </div>
        <div class="col-sm playerbox">
          <player libero={{libero}} (subPost)="subPlayer(1)" (statPost)="postStat($event,1)" posNum=1 
          [playerPosition]="playerPositions"></player>
        </div>
      </div>

    </div>
  </div>
</ion-content>