<ion-header >
  <ion-toolbar color="primary">
    <ion-title>My Teams</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addTeam()" >
        Add
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p-table [value]="teams" selectionMode="single" [(selection)]="team" (onRowSelect)="itemSelected($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>Team</th>
        <th>Club</th>
        <th>Year</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-team>
      <tr [pSelectableRow]="team">
        <td>{{ team?.TeamName }}</td>
        <td>{{ getClubNameById(team?.ClubId) }}</td>
        <td>{{ team?.Year }}</td>
      </tr>
    </ng-template>
   
  </p-table>
  <!-- <ion-list>
    <ion-item *ngFor="let team of teams" (click)="itemSelected(team)">
      <ion-label>{{team.TeamName}}</ion-label>
     </ion-item>
  </ion-list> -->
</ion-content>
