<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="menu.toggle($event)">
        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p-menu #menu [popup]="true" [model]="menuitems"></p-menu>

<ion-content>
  <ion-list  style="margin-top: 20px;">
    <ion-item>
      <ion-label href="" (click)="IS()">Individual Statistics</ion-label>
    </ion-item>
    <ion-item>
      <ion-label href="" (click)="PBP()">Play-By-Play</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
